<div class="center-container">
  <div class="container">
    <mat-card>
      <mat-card-title>Global Chat</mat-card-title>
      <mat-card-content>
        <ul class="chat-container">
          <li
            *ngFor="let message of messages$ | async; last as isLast"
            [class.mb]="!isLast"
            [class.is-myself]="message.isSender"
          >
            <div>
              <span class="sender">{{ message.sender.email }}</span>
              <span class="message">{{ message.message }}</span>
            </div>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
    <form (ngSubmit)="onMessageSubmit()">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Message</mat-label>
          <input matInput type="text" [formControl]="messageControl" />
        </mat-form-field>
        <div class="button-container">
          <button mat-flat-button color="primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
