ul {
  list-style: none;
  padding: 0;
}

.center-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.container {
  width: 500px;
}

.sender {
  display: block;
  font-weight: bold;
  margin-bottom: .4rem;
}

.message {
  border: 1px solid black;
  padding: .4rem;
}

.is-myself {
  display: flex;
  justify-content: flex-end;
}

mat-form-field {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.chat-container {
  height: 480px;
  overflow-y: scroll;
}

.mb {
  margin-bottom: .7rem;
}
