<orel-auth-form>
  <form [formGroup]="signinForm" (ngSubmit)="onSigninSubmit()">
    <div>
      <h3 class="heading__title">Sign In</h3>
    </div>
    <div class="form__group">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          #passwordRef
        />
      </mat-form-field>

      <mat-checkbox
        color="primary"
        (change)="onShowPasswordChange()"
        [(ngModel)]="isShowPassword"
        [ngModelOptions]="{ standalone: true }"
        >Show password</mat-checkbox
      >
    </div>
    <div class="control">
      <a routerLink="/signup" class="go-to-sign-up">Create an account</a>
      <button mat-flat-button color="primary">Sign in</button>
    </div>
  </form>
</orel-auth-form>
