ul {
  list-style-type: none;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.create-post-container {
  padding: 1rem;
  width: min(442px, 100% - 2rem);

  &__input {
    display: flex;
    flex-direction: column;
  }

  &__actual-input {
    resize: none;
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
  }
}

.post-list-container {
  padding: 1rem;
  width: min(442px, 100% - 2rem);
}

.see-detail {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

@media (min-width: 442px) {
  .container {
    align-items: center;
  }
}
