<div class="container">
  <div class="create-post-container">
    <form [formGroup]="createPostForm" (ngSubmit)="onCreatePostSubmit()">
      <div class="create-post-container__input">
        <mat-form-field appearance="outline">
          <mat-label>Content</mat-label>
          <textarea class="create-post-container__actual-input" matInput formControlName="content" rows="5"></textarea>
        </mat-form-field>
      </div>
      <div class="create-post-container__button-container">
        <button mat-flat-button color="primary">Post</button>
      </div>
    </form>
  </div>

  <div class="post-list-container">
    <ul>
      <li *ngFor="let post of posts$ | async; last as isLast" [class.mb]="!isLast" >
        <orel-post-card [post]="post"></orel-post-card>
        <div class="see-detail">
          <a mat-flat-button color="primary" [routerLink]="['posts', post.id]">See</a>
        </div>
      </li>
    </ul>
  </div>
</div>
