.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading__title {
  text-align: center;
  font-weight: bold;
}

.form {
  &__group {
    display: flex;
    flex-direction: column;
  }
}

.go-to-sign-up {
  font-weight: bold;
  color: #799cd1;
  text-decoration: none;
}
