<orel-auth-form>
  <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
    <div>
      <h3 class="heading__title">Sign Up</h3>
    </div>
    <div class="form__group">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          #passwordRef
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Repeat password</mat-label>
        <input
          matInput
          type="password"
          formControlName="repeatPassword"
          #passwordRef
        />
      </mat-form-field>
      <mat-checkbox
        color="primary"
        (change)="onShowPasswordChange()"
        [(ngModel)]="isShowPassword"
        [ngModelOptions]="{ standalone: true }"
        >Show password</mat-checkbox
      >
      <div class="control">
        <a routerLink="/signin" class="go-to-sign-up">Sign in instead</a>
        <button mat-flat-button color="primary">Sign up</button>
      </div>
    </div>
  </form>
</orel-auth-form>
