$auth-card-max-width: 442px;

.auth-form {
  &__inner {
    padding: 0.7rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
    max-width: $auth-card-max-width - 12px;
  }
}

@media (min-width: $auth-card-max-width) {
  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__inner {
      width: $auth-card-max-width;
      border: 1px solid black;
      margin-top: 1rem;
      padding: 2rem;
    }
  }
}

@media (min-width: 712px) {
  .auth-form {
    justify-content: center;
    height: 100vh;
  }
}
