<ul>
  <li *ngFor="let comment of comments$ | async; last as isLast" [class.mb]="!isLast">
    <mat-card>
      <span>{{ comment.message }}</span>
      <p>By: {{ comment.creator.email }}</p>
      <p>Created at: {{ comment.createdAt }}</p>
    </mat-card>
  </li>
</ul>
