<h2 mat-dialog-title>Post edit</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Content</mat-label>
    <textarea
      matInput
      rows="5"
      [(ngModel)]="content"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" mat-dialog-close (click)="onPostEditSaveClick()">Save</button>
  <button mat-stroked-button color="primary" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
