ul {
  list-style: none;
  padding: 0;
}

.center-container {
  display: flex;
  justify-content: center;
}

.inner-container {
  width: 500px;
}

.mb {
  margin-bottom: 1rem;
}

.btn-container {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
}
