<div class="center-container">
  <div class="inner-container">
    <h2>User list</h2>
    <ul>
      <li
        *ngFor="let user of users$ | async; last as isLast; index as i"
        [class.mb]="!isLast"
      >
        <orel-user-card [user]="user"></orel-user-card>
        <div class="btn-container">
          <button
            *ngIf="!user.isAlreadyFollowed; else unfollowButtonBlock"
            mat-flat-button
            color="primary"
            (click)="onFollowClick(user.id)"
          >
            Follow
          </button>
          <ng-template #unfollowButtonBlock>
            <button
              mat-stroked-button
              color="primary"
              (click)="onUnfollowClick(user.id)"
            >
              Unfollow
            </button>
          </ng-template>
        </div>
      </li>
    </ul>
  </div>
</div>
