.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__inner {
    margin-top: 1rem;
    width: min(442px, 100% - 2rem);
  }
}

mat-form-field {
  width: 100%;
}

.comment-input-container {
  width: 100%;
}

.comment-input {
  width: 100%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.edit-btn-container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.mr {
  margin-right: 1rem;
}
