<p *ngIf="!post; else showPostDetail">post not found</p>

<ng-template #showPostDetail>
  <div class="container">
    <div class="container__inner">
      <orel-post-card [post]="post"></orel-post-card>
      <div *orelIsPostCreator="post?.creatorId" class="edit-btn-container">
        <button class="mr" mat-flat-button color="primary" (click)="onEditPostClick()">Edit</button>
        <button mat-flat-button color="warn" (click)="onDeletePostClick()">Delete</button>
      </div>
      <div class="comment-container">
        <h3>Comments</h3>
        <form (ngSubmit)="onCommentSubmit()">
          <div class="comment-input-container">
            <mat-form-field appearance="outline">
              <mat-label>Comment as {{ post?.creator?.email }}</mat-label>
              <input matInput class="comment-input" [formControl]="commentControl" />
            </mat-form-field>
          </div>
          <div class="button-container">
            <button mat-flat-button color="primary">Comment</button>
          </div>
        </form>
        <orel-comment-list [postId]="post?.id"></orel-comment-list>
      </div>
    </div>
  </div>
</ng-template>
